:root {
  --mainBtnColor: #EBAC78;
  --borderColor: #ddb271;
  --backgroundcolor: #ffffff;
  --acssentColor: #9B5EF5;
  --mainBtnColor: #ebac78;
  --borderColor: #ddb271;
  --backgroundcolor: #ffffff;
  --purple: #9720f5;
  --inputBackground: #f4f3ff;
  --greyFont: #9390b2;
  --purpleFont: #a24e98;
  --lightgrey: #d9d9d9;
  --darkgrey: #656062;
  --blackBackground: #363636;
  --redButton: #eb628e;
  --redFont: #f5b4c9;
  --extraTab: #E5D2F3;
  --darkAcssentColor: #e72a3e;
  --darkSecondColor: #e9c5c9;
  --darkActiveSecondColor: #c4a5a8;
  --darkTabColor: #65595c;
  --darkTabBorderColor: #302b2d;
  --darkNavButtonBackground: #514f4f;
  --activeExtraTab:#b4a5bf;
}

/*--------start code GPT----------   */

@keyframes changeColors {
  0% {
    filter: invert(20%) sepia(20%) saturate(3) hue-rotate(260deg);
  }

  25% {
    filter: invert(30%) sepia(40%) saturate(2.5) hue-rotate(255deg);
  }

  50% {
    filter: invert(60%) sepia(80%) saturate(2) hue-rotate(270deg);
  }

  75% {
    filter: invert(20%) sepia(20%) saturate(2.5) hue-rotate(260deg);
  }

  100% {
    filter: invert(20%) sepia(30%) saturate(3) hue-rotate(260deg);
  }
}

.animated-image {
  animation: changeColors 3s linear infinite;
  max-width: 70%;
}

/*-----------end code GPT------------  */

#loadingPage {
  background-color: white;
  z-index: 10;
}

.animated-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-top: -10%;
}

.dots::after {
  content: ' .';
  animation: dots 2s infinite;
}

@keyframes dots {
  25% {
    content: ' .';
  }

  50% {
    content: ' . .';
  }

  75% {
    content: ' . . .';
  }

  100% {
    content: ' . .';
  }
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  text-align: center;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* other elements */

.menuInfoContainer {
  position: relative;
  margin: 20% 15%;
  font-size: large;
  line-height: 1.5;
}

.menuTitleContent {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-top: 20%;
}

.imgMenuContent {
  margin-top: 23%;
  max-width: 80vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  max-height: 20vh;
  max-width: 20vh;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 10px;
}

body {
  margin: 0;
  position: relative;
  margin: 0;
  position: relative;
}

.globalBtn {
  border: none;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  font-weight: bold;
  font-size: large;
  height: 2.5em;
  margin-top: 3em;
  border: none;
  border-radius: 10px;
}

.btn-danger {
  margin-top: 30% !important;
  margin-bottom: 20%;
}

.globalBtn:hover {
  cursor: pointer;
}

#sceneCanvas {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  background-color: white;
}

#imgCanvas {
  display: none;
  background: none;
  z-index: -10;
}

#checkBtn:hover {
  background-color: rgb(47, 185, 70);
  color: white;
  background-color: rgb(47, 185, 70);
  color: white;
}

#choiceMenu {
  background-color: white;
  height: 30vh;
  background-color: white;
  height: 30vh;
}

#checkBtn {
  background-color: white;
  position: fixed;
  color: rgb(47, 185, 70);
  right: 2vh;
  bottom: 45vh;
  width: 2.5em;

}

#colorPicker {
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
  opacity: 0;
  cursor: pointer;
}

.color-picker-wrapper {
  width: auto;
  height: 15vh;
  position: relative;
  background-color: var(--lightgrey);
  border-radius: 15px;
  background-image: url('./mediaAvatar/buttons/colorpicker_droplet_pruple.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#menuOptions {
  overflow-x: scroll;
  white-space: nowrap;
  /*  scroll-snap-type: x mandatory; */
}
.tab-thumb{
  height: 45px;
  width: 45px;
}

.nav-link{
  width: 125px;
  text-align: center;
}
/* Styles for desktop screens */
@media (min-width: 768px) {
  #menuOptions {
    height: 50px; 
  }
  .tab-thumb{
    height: 50px;
    width: 50px;
  }
  #logOutBtn{
    width: 125px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

   .color-selector{
    max-width: 150px !important;
    max-height: 150px !important;
  }
  .mesh-selector{
    max-width: 150px !important;
  } 

}

#colors {
  background-color: white;
  margin-bottom: 0em;
  overflow: auto;
  max-height: 30vh;
  min-height: 30vh;
}

#allColors {
  border: none;
  border-radius: 10px;
  height: 50px;
}

.container {
  display: flex;
}

.tab {
  position: relative;
  background-color: var(--lightgrey);
  scroll-snap-align: center;
}

.tab.active {
  background-color: var(--acssentColor);
}


#bootstrapTab {
  background-color: rgb(255, 255, 255);
}

.hidden-tab {
  display: none;
  background-color: var(--extraTab);
}

.hidden-tab.active {
  background-color: var(--activeExtraTab);
}

.imgIconTab {
  height: 30px;
}

#bootstrapTab {
  background-color: rgb(255, 255, 255);
}


#undo,
#redo {
  width: 15%;
 max-height: 7vh;
 max-width: 7vh;
  background-color: var(--lightgrey);
}

#undo:hover,
#redo:hover {
  background-color: var(--purple);
  /* Set the background color to dark purple */
}

#inputEmail,
#inputUsername,
#inputPassword {
  background-color: var(--inputBackground);
  color: var(--purple);
  height: 50px;
  border-radius: 15px;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--purple);
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--purple);
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--purple);
}

.btn-primary {
  background-color: var(--purple);
  border-radius: 15px;
  min-width:20vh;
 /*  outline: solid 3px var(--inputBackground);  */
}
.spanLink{
  color: var(--purple);
}

.inputFont {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: var(--purple);
}

.p {
  font-family: "Inter";
  font-size: small;
  color: var(--greyFont);
}

.p1 {
  font-family: "Inter";
  font-size: small;
  color: var(--purpleFont);
}

.form-check-input {
  height: 100% !important;
  min-width: 70px;
}

#flexSwitchCheckDefault {
  color: white;
}


#msgContainer{
  background-color: var(--backgroundcolor);
  box-shadow: 0 4px 8px 0 var(--lightgrey), 0 6px 20px 0 var(--lightgrey);
  text-align: center;
  width: 75%;
  margin: auto;
  border: 20px rgb(47, 185, 70);
  border-radius: 10px;
  padding: 10%;
}

/* DARK-MODE */
.dark-mode html {
  background-color: var(--blackBackground);
}

.dark-mode #sceneCanvas {
  background-color: var(--blackBackground);
}

.dark-mode #colorSelector {
  background-color: var(--blackBackground);
}

.dark-mode #tabsMenu {
  background-color: var(--blackBackground);
}

.dark-mode #colors.p-3 {
  background-color: var(--blackBackground);
}

.dark-mode .tab.active {
  background-color: var(--darkAcssentColor);
}

.dark-mode .hidden-tab {
  background-color: var(--darkSecondColor);
}

.dark-mode .hidden-tab.active {
  background-color: var(--darkActiveSecondColor);
}

.dark-mode {
  background-color: var(--blackBackground);

}

.dark-mode #loadingPage {
  background-color: var(--blackBackground);

}

.dark-mode #loadingPage h2 {
  color: white;
}

.dark-mode .border {
  border: var(--darkTabBorderColor) !important;
}

.dark-mode .tab {
  background-color: var(--darkTabColor);
}

.dark-mode .navbar {
  background-color: var(--blackBackground) !important;
}

.dark-mode .nav-link {
  color: white;
}

.dark-mode .nav-link.active {
  color: var(--darkAcssentColor) !important;
}

.dark-mode button.navbar-toggler {
  background-color: var(--darkNavButtonBackground) !important;
}

.dark-mode #undo,
.dark-mode #redo,
.dark-mode #checkBtn {
  background-color: var(--darkNavButtonBackground);
}

.dark-mode .btn-primary {
  background-color: var(--redButton);
  color: var(--blackBackground);
}

.dark-mode .inputFont {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: var(--redFont);
}

.dark-mode #inputEmail,
.dark-mode #inputUsername,
.dark-mode #inputPassword {
  background-color: var(--darkgrey);
  color: var(--redFont);
  height: 50px;
  border-radius: 15px;
}

.dark-mode .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--redFont);
  opacity: 1;
  /* Firefox */
}

.dark-mode .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--redFont);
}

.dark-mode .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--redFont);
}

.dark-mode .p1 {
  color: var(--redFont);
  ;
}

.dark-mode p {
  color: white;
}

.dark-mode h1 {
  color: white;
}

.dark-mode footer {
  color: white;
  background-color: var(--blackBackground);
}

.dark-mode #msgContainer {
  color: white;
  background-color: var(--darkTabBorderColor);
  box-shadow: 0 4px 8px 0 var(--darkTabBorderColor), 0 6px 20px 0 var(--darkTabBorderColor);
}

@keyframes changeColorsDark {
  0% {
    filter: invert(20%) sepia(30%) saturate(3) hue-rotate(350deg);
    /* Red */
  }

  25% {
    filter: invert(20%) sepia(35%) saturate(2.5) hue-rotate(200deg);
    /* Red */
  }

  50% {
    filter: invert(20%) sepia(30%) saturate(2) hue-rotate(350deg);
    /* Red */
  }

  75% {
    filter: invert(20%) sepia(30%) saturate(2.5) hue-rotate(200deg);
    /* Red */
  }

  100% {
    filter: invert(20%) sepia(30%) saturate(3) hue-rotate(300deg);
    /* Red */
  }
}

.dark-mode .animated-image {
  animation: changeColorsDark 3s linear infinite;
}
